GQL_HOST=http://sismoni.local/graphql
NUXT_PUBLIC_WP_BASE_URL=http://sismoni.local
NUXT_PUBLIC_SITE_URL=http://localhost:3000
WC_CONSUMER_KEY=ck_your_read_only_key
WC_CONSUMER_SECRET=cs_your_read_only_secret
NUXT_PUBLIC_ZARINPAL_PAYMENT_METHOD=WC_ZPal
# Set to true only if the WordPress backend uses a certificate signed by a CA
# that Node does not trust (e.g. some Iranian PaaS like Liara). Leave unset when
# the backend has a publicly-trusted certificate.
WP_INSECURE_TLS=false
