html,
body {
	font-family: "IranSans", Arial, sans-serif;
}
/* =========================================================
   1. IranSans (FaNum - فارسی)
   ========================================================= */

/* Weight 300: Light */
@font-face {
	font-family: "IranSans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/fanum/woff2/IRANSansWeb(FaNum)_Light.woff2")
		format("woff2");
}

/* Weight 400: Regular */
@font-face {
	font-family: "IranSans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/fanum/woff2/IRANSansWeb(FaNum).woff2") format("woff2");
}

/* Weight 500: Medium */
@font-face {
	font-family: "IranSans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/fanum/woff2/IRANSansWeb(FaNum)_Medium.woff2")
		format("woff2");
}

/* Weight 700: Bold */
@font-face {
	font-family: "IranSans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/fanum/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
}

/* Weight 900: Black */
@font-face {
	font-family: "IranSans";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("/fonts/fanum/woff2/IRANSansWeb(FaNum)_Black.woff2")
		format("woff2");
}

/* =========================================================
   2. IranSansEn (انگلیسی - NoEn)
   ========================================================= */

/* Weight 300: Light */
@font-face {
	font-family: "IranSansEn";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/fonts/woff2/IRANSansWeb(NoEn)_Light.woff2") format("woff2");
}

/* Weight 400: Regular */
@font-face {
	font-family: "IranSansEn";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/woff2/IRANSansWeb(NoEn).woff2") format("woff2");
}

/* Weight 700: Bold */
@font-face {
	font-family: "IranSansEn";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/woff2/IRANSansWeb(NoEn)_Bold.woff2") format("woff2");
}
